@import url('https://fonts.googleapis.com/css?family=Raleway|Antic+Slab');
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
	background-color: #E3E3E3;
	font-family: Raleway;
	color: #000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #195452;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

header {
	padding: 10px 50px;
}

footer {
	text-align: center;
	margin: 1.5em auto;
}

iframe {
	border: 3px solid #BFB8B4;
}

.carousel {
	display: block;
	margin: 0 auto 1em;
	align-content: center;
}

.missionh3 {
	text-align: center;
}

.missionh1 {
	text-align: center;
	font-size: 26px;
	color: #195452;
	margin: .5em auto 0;
}

#missionh1b {
	text-align: center;
	font-style: italic;
	font-size: 26px;
	color: #000;
}

.logo {
	margin: 0px 0px 10px 0px;
}

.floating-box {
	display: inline-block;
	width: 10em;
	margin: 1em auto;
	padding: .75em 0;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

.background {
	display: block;
	width: 500px;
	height: 85px;
	margin: 0 auto;
	border: none;
	text-align: center;
	vertical-align: center;
}

.floating-box2 {
	display: inline-block;
	width: 10em;
	margin: 0 auto 5%;
	padding: .75em 0;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

#Our_Programs {
	display: block;
	border: none
	text-align: center;
	background: #FFF;
	margin: auto;
	padding: .5%
}

#Hope-Stories {
	display: block;
	width: 100%;
	margin: 0 auto;
	border: 0px;
	padding: 1%;
	text-align: center;
	background: #3FA19D;
	color: #EBEDEB;
}

.graytitle {
	color: EBEDEB;
	text-align: center;
	font-size: 26px;
	margin: .5em auto;
}

.backgroundbox3 {
	float: left;
	border: none;
	width: 33.3%;
	height: 100%;
	margin: 0 auto;
	padding: 0px;
	text-align: center;

}

.backgroundbox4 {
	float: left;
	border: none;
	width: 33.3%;
	height: 80%;
	margin: 0 auto;
	padding: 1%;
	text-align: center;

}

.picturebox {
	width: 250px;
}

.picturebox2 {
	border:3px solid #195452
}

.Titleh3 {
	margin: .25em auto .25em;
}

.boxtext {
	display: 70%;
	width: 85%;
	height: 30%;
	border: none;
	text-align:left;
	font-family: Antic Slab;
	font-size: 15px;
	padding: 0 1.25em;
	line-height: 1.3;
	margin: 0 auto;
}

.floating-box3 {
	display: block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 500;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
	clear:both;
}
.ctrtxt {
	text-align: center;
	margin: 0 auto 1em;
}

a {
	color: #195452;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sectionbox {
	border: none;
	width: 80%;
	height: 100%;
	margin: .35% auto;
}

.sectionbox2 {
	border: none;
	width: 100%;
	height: 60%;
	margin: .25% auto;
	border: none;
}