@import url('https://fonts.googleapis.com/css?family=Raleway|Antic+Slab|Roboto+Slab: 100,300,400');
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
	background-color: #E3E3E3;
	font-family: Raleway;
	color: #000;
}

p {
	padding: .5% 0 0 0;
	font-family: Roboto Slab;
	font-size: 1.0em;
	font-weight: 100;
}

h1 {
	margin: 1% auto 1%;
	text-align: center;

}

h2 {
	margin: 1% 0 1% 0;
}

h2.biotitle {
	margin: 0;
}

h3 {
	margin: 2% 0 0% 0;
}
ul.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #327B82;
}

li.menu {
	float: left;
	font-family: Raleway;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu a {
	color: #FFF;
}



li a:hover {
	background-color: #111;
}

li {
	list-style-position: inside;
	padding: 0 0 0 1%;
	font-family: Raleway;
	font-size: 1em;
}

.textlist {
	list-style-type: none;
	line-height: 1.4em;
	font-family: Raleway;
}

.textlist a {
	color: #000;
}

.textlist a:hover {
	color: aquamarine;
}
.wrapper4 p {
	font-family: Roboto Slab;
	font-size: .95em;
	font-weight: 300;
}
.wrapper5 p {
	font-family: Roboto Slab;
}

.wrapper4 li {
	font-family: Roboto Slab;
	font-size: .95em;
	font-weight: 300;
}

header {
	margin: 2% 5% 0;
}

footer {
	text-align: center;
	margin: 1.5em auto;
}

iframe {
	border: 3px solid #BFB8B4;
}

.ital {
	font-style: italic;
}

#Splash {
	background: url("./../images/Mentor_picture_large.png");
	background-size: cover;
	margin: 1% 5% 2%;
	padding: 20% 0 0 0;
}

.carousel {
	display: block;
	margin: 0 auto 1em;
	align-content: center;
}

.missionh3 {
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px #000;
}

.missionh1 {
	text-align: center;
	font-size: 1.5em;
	color: #195452;
	background: rgba(255, 255, 255, .8); 
	margin: 1% auto 2%;
	width: 80%;
	max-width: 50vw;
	padding: 1% 0 1% 0;
}

#missionh1b {
	text-align: center;
	font-style: italic;
	font-size: 1em;
	color: #000;
}

.logo {
	margin: 0px 0px 10px 0px;
	width: 150px;
}

.highlight_text {
	font-weight: bold;
	color: #000;
}

.floating-box {
	display: inline-block;
	width: 10em;
	margin: 1em auto;
	padding: .75em 0;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #327B82;
	color: #FFF;
}

.background {
	display: block;
	width: 100%;
	height: 5%;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
}

.wrapper3 {
	background: url("../../images/Mentor_picture_large.png");

}

.wrapper2 {
	margin: 0 auto;
	text-align: center;
}

.wrapper4 {
	margin: 1% 5% 0;
	padding: .5% 5% 3% 5%;
	background: #FFF;
}

.wrapper5 {
	margin: 0% 5% 0;
	padding: 2% 6% 3% 6%;
	background: #3FA19D;
	color: #EBEDEB;
	border-top: 3px solid #BFB8B4;
}

.floating-box2 {
	display: inline-block;
	width: 13%;
	margin: 0 0 2% 0;
	padding: .75em 0.5em;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

.floating-box2_center {
	display: inline-block;
	width: 13%;
	margin: 0 12%;
	padding: .75em 0.5em;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

#Our_Programs {
	display: block;
	border: none
	text-align: center;
	background: #FFF;
	margin: 0 auto;
	padding: .5%;
}

#Hope-Stories {
	display: block;
	width: 100%;
	margin: 0 auto;
	border: 0px;
	padding: 1%;
	text-align: center;
	background: #3FA19D;
	color: #EBEDEB;
}

.graytitle {
	clear: both;
	color: #FFF;
	text-align: center;
	font-size: 1.5em;
	margin: .25em auto .75em;
}

.backgroundbox_left {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: .5% 1.5% 0 14%;
	padding: 0px;
	text-align: center;
}

.backgroundbox_center {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: .5% 1.5% 0 1.5%;
	padding: 0px;
	text-align: center;
}

.backgroundbox_right {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: .5% 14% 0 1.5%;
	padding: 0;
	text-align: center;
}

.biobox {
	float: left;
	width: 80%;
	margin: 0 0 2% 0;
}

.biobox2 {
	float: left;
	width: 70%;
	padding: 0 3% 0 0;
}

.biobox3 {
	float: left;
	width: 50%;
	font-size: .9em;
}

.biobox_container {
	padding: 0% 0 3% 0%;
	clear: both;
	width: 100%;
}

.backgroundbox4 {
	float: left;
	border: none;
	width: 33.3%;
	height: 80%;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
}

.picturebox {
	width: 250px;
}

img.picturebox2 {
	border:3px solid #195452;
	width: 75%;
}

img.picturebox3 {
	float: right;
	display: block;
	border:3px solid #195452;
	width: 32%;
	margin: 1% 0% 0 5%;
}

img.picturebox4 {
	float: left;
	display: block;
	border:3px solid #195452;
	width: 13%;
	margin: 0 3% 0 0%;
}

img.picturebox5 {
	float: left;
	display: block;
	width: 15%;
	margin: 0 3% 0 0%;
}

img.picturebox6 {
	float: left;
	display: block;
	width: 20%;
	margin: 0 3% 0 0%;
}
.footer_left {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 14%;
	padding: 0px;
	list-style-type: none;
	color: #000;
	text-align: center;
}

.footer_center {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 1.5%;
	padding: 0px;
	list-style-type: none;
	color: #000;
}

.footer_right {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 14% 0 1.5%;
	padding: 0;
	list-style-type: none;
	color: #000;
}

.footer p {
	font-family: Antic Slab;
	font-size: 1em;
}
.Titleh3 {
	margin: .25em auto .25em;
}

.boxtext {
	width: 85%;
	text-align:left;
	font-family: Roboto Slab;
	font-size: .9em;
	padding: 0 5% 5%;
	line-height: 1.4;
	margin: 0 auto;
}

.floating-box3 {
	display: block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 500;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
	clear:both;
}
.ctrtxt {
	text-align: center;
	margin: 0 auto 2em;
}

a {
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sectionbox {
	border: none;
	width: 80%;
	height: 100%;
	margin: .35% auto;
}

.sectionbox2 {
	border: none;
	width: 100%;
	height: 60%;
	margin: .25% auto;
	border: none;
}

.footer {
	background: #E3E3E3;
	margin: auto;
}

form {
	margin: 2% 0 0 0;
}

#contact_footer {
	padding: 2% 0 0 0;
	clear: both;
}

.gnp_badge {
	display: flex;
}

.gnp_badge2 {
	margin: 0 25% 0 10%;
}

.gnp_badge2 p {
	font-family: Raleway;
	font-size: .9em;
	font-weight: 500;
}

.hopepic {
	width: 40%;
	border:3px solid #195452;;
}

.hopetext {
	font-size: 1em;
	width: 70%;
	margin: 0 auto 3%;
}