@import url('https://fonts.googleapis.com/css?family=Raleway|Antic+Slab');
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
	background-color: #E3E3E3;
	font-family: Raleway;
	color: #000;
}

p {
	padding: .5% 0 0 0;
	font-family: Antic Slb;
	font-size: 1.05em;
}

h1 {
	margin: 0 0 .5% 0;
}

h2 {
	margin: 0 0 1% 0;
}

ul.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #327B82;
}

li.menu {
	float: left;
	font-family: Raleway;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu a {
	color: #FFF;
}



li a:hover {
	background-color: #111;
}

li {
	list-style-position: inside;
	padding: 0 0 0 1%;
	font-family: Raleway;
	font-size: 1em;
}

.textlist {
	list-style-type: none;
	line-height: 1.4em;
	font-family: Raleway;
}

.textlist a {
	color: #000;
}

.textlist a:hover {
	color: aquamarine;
}
.wrapper4 p {
	font-family: Antic Slab;
}
.wrapper5 p {
	font-family: Antic Slab;
}

.wrapper4 li {
	font-family: Antic Slab;
}

header {
	margin: 2% 5% 0;
}

footer {
	text-align: center;
	margin: 1.5em auto;
}

iframe {
	border: 3px solid #BFB8B4;
}

.ital {
	font-style: italic;
}

#Splash {
	background: url("./../images/Mentor_picture_large.png");
	background-size: cover;
	margin: 1% 5% 2%;
	padding: 20% 0 0 0;
}

.carousel {
	display: block;
	margin: 0 auto 1em;
	align-content: center;
}

.missionh3 {
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px #000;
}

.missionh1 {
	text-align: center;
	font-size: 1.5em;
	color: #195452;
	background: rgba(255, 255, 255, .8); 
	margin: 1% auto 2%;
	width: 80%;
	max-width: 50vw;
	padding: 1% 0 1% 0;
}

#missionh1b {
	text-align: center;
	font-style: italic;
	font-size: 1em;
	color: #000;
}

.logo {
	margin: 0px 0px 10px 0px;
	width: 150px;
}

.floating-box {
	display: inline-block;
	width: 10em;
	margin: 1em auto;
	padding: .75em 0;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #327B82;
	color: #FFF;
}

.background {
	display: block;
	width: 100%;
	height: 5%;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
}

.wrapper3 {
	background: url("../../images/Mentor_picture_large.png");

}

.wrapper2 {
	margin: 0 auto;
	text-align: center;
}

.wrapper4 {
	margin: 1% 5% 0;
	padding: 2% 5% 3% 5%;
	background: #FFF;
}

.wrapper5 {
	margin: 0% 5% 0;
	padding: 2% 6% 3% 6%;
	background: #3FA19D;
	color: #EBEDEB;
	border-top: 3px solid #BFB8B4;
}

.floating-box2 {
	display: inline-block;
	width: 13%;
	margin: 0 0 2% 0;
	padding: .75em 0.5em;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

.floating-box2_center {
	display: inline-block;
	width: 13%;
	margin: 0 12%;
	padding: .75em 0.5em;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 16px;
	background-color: #195452;
	color: #FFF;
}

#Our_Programs {
	display: block;
	border: none
	text-align: center;
	background: #FFF;
	margin: 0 auto;
	padding: .5%;
}

#Hope-Stories {
	display: block;
	width: 100%;
	margin: 0 auto;
	border: 0px;
	padding: 1%;
	text-align: center;
	background: #3FA19D;
	color: #EBEDEB;
}

.graytitle {
	color: #000;
	text-align: center;
	font-size: 1.5em;
	margin: .25em auto .75em;
}

.backgroundbox_left {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 14%;
	padding: 0px;
	text-align: center;
}

.backgroundbox_center {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 1.5%;
	padding: 0px;
	text-align: center;
}

.backgroundbox_right {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 14% 0 1.5%;
	padding: 0;
	text-align: center;
}

.backgroundbox4 {
	float: left;
	border: none;
	width: 33.3%;
	height: 80%;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
}

.picturebox {
	width: 250px;
}

img.picturebox2 {
	border:3px solid #195452;
	width: 75%;
}

img.picturebox3 {
	float: right;
	display: block;
	border:3px solid #195452;
	width: 20%;
	margin: 1% 0% 0 5%;
}

img.picturebox4 {
	float: left;
	display: block;
	border:3px solid #195452;
	width: 13%;
	margin: 0 3% 0 0%;
}

.footer_left {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 14%;
	padding: 0px;
	list-style-type: none;
	color: #;
}

.footer_center {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 1.5% 0 1.5%;
	padding: 0px;
	list-style-type: none;
	color: #000;
}

.footer_right {
	float: left;
	border: none;
	width: 22%;
	height: 100%;
	margin: 0 14% 0 1.5%;
	padding: 0;
	list-style-type: none;
	color: #000;
}

.footer p {
	font-family: Antic Slab;
	font-size: 1em;
}
.Titleh3 {
	margin: .25em auto .25em;
}

.boxtext {
	display: 70%;
	width: 85%;
	text-align:left;
	font-family: Antic Slab;
	font-size: 15px;
	padding: 0 5% 5%;
	line-height: 1.3;
	margin: 0 auto;
}

.floating-box3 {
	display: block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 500;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
	clear:both;
}
.ctrtxt {
	text-align: center;
	margin: 0 auto 2em;
}

a {
	text-decoration: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.sectionbox {
	border: none;
	width: 80%;
	height: 100%;
	margin: .35% auto;
}

.sectionbox2 {
	border: none;
	width: 100%;
	height: 60%;
	margin: .25% auto;
	border: none;
}

.footer {
	background: #E3E3E3;
	margin: auto;
}

form {
	margin: 2% 0 0 0;
}

#contact_footer {
	padding: 2% 0 0 0;
	clear: both;
}

.gnp_badge {
	display: flex;
}

.gnp_badge2 {
	margin: 0 25% 0 20%;
}

.gnp_badge2 p {
	font-family: Raleway;
	font-size: .9em;
	font-weight: 500;
}