@media only screen and (max-width: 971px) {
    li.menu {
    	font-size: .85em;
    }
    .missionh1, .missionh1b {
    	font-size: 1.25em;
    }
    .missionh3 {
    	font-size: 1em;
    }
    .floating-box {
    	font-size: .90em;
    }
    .floating-box2 {
    	font-size: .90em;
    }
    .floating-box2_center {
    	font-size: .95em;
    }
    .boxtext {
    	font-size: .85em;
    }
    .h1 {
    	font-size: .95em;
    }
    .graytitle {
    	font-size: 1.25em
    }
    .hopebox h3 {
		font-size: 1.1em;
    }
	.hopebox p {
		font-size: .9em
	}
	.Titleh3 {
		font-size: 1.05em;
	}
    
	.wrapper h1 {
		font-size: 1.25em;
	}
    .wrapper4 h1 {
    	font-size: 1.25em;
    }

    .wrapper4 p {
    	font-size: .9em;
    }

    .wrapper4 li {
    	font-size: .9em;
    }

    .wrapper5 p {
    	font-size: .9em;
    }

    .wrapper5 h2 {
    	font-size: 1.3em
    }

    img.picturebox3 {
    	width: 35%;
    }
	
	.hopebox2 {
		width: 40%;
	}
} 