body {
	background: #44707F;
	font-family: Helvetica;
	color: #fff;
}

h1 {
	color: #fff;
	text-align: center;
}

#tagline {
	font-style: italic;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	align-content: center;
}

#pageclose {
	font-weight: 700
	text-align: center;
}