body {
	background: #44707F;
	font-family: Helvetica;
	color: #fff;
}

h1 {
	color: #fff;
	text-align: center;
}

#tagline {
	font-style: italic;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	align-content: center;
}

#Pageclose {
	font-weight: 600;
	text-align: center;
}

.subtitle {
	font-size: 22px;
	text-align: center;
	font-weight: 600;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 30px;
}