body {
	background: #AAC3CC;
	font-family: Helvetica;
	color: #fff;
}

h1 {
	color: #fff;
	text-align: center;
}

#tagline {
	font-style: italic;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}