body {
	background: #44707F;
	font-family: Helvetica;
	color: #fff;
	padding: 25px 50px;
}

p {
	padding: 0px 25px;
	font-size: 16px;
}

h1 {
	color: #CBC563;
	text-align: center;
}

#tagline {
	font-style: italic;
	text-align: center;
	line-height: .75;
}

img {
	display: block;
	margin: 0 auto;
	align-content: center;
}

#Pageclose {
	font-weight: 600;
	text-align: center;
	color: #AAC3CB;
}

.subtitle {
	font-size: 22px;
	text-align: center;
	font-weight: 600;
	text-decoration: italic;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
}

.centertxt {
	text-align: center;
}

.emphasistxt {
	text-align: center;
	color: #81B9CB;
}