body {
	background-color: #F0E1CD;
	font-family: Helvetica;
	padding: 25px 50px;
	color: #000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #195452;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

#carousel {
	display: block;
	margin: 0 auto;
	align-content: center;
}

.missionh3 {
	text-align: center;
}

.missionh1 {
	text-align: center;
	font-weight: 600;
	line-height: .6;
	font-size: 26px;
}

.missionh1b {
	text-align: center;
	font-weight: 600;
	font-style: italic;
	line-height: .6;
	font-size: 26px;
}

.logo {
}

.floating-box {
	display: inline-block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 400;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}

.background {
	display: block;
	width: 400px;
	height: 85px;
	margin: 0 auto;
	border: none;
	text-align: center;
	vertical-align: center;
}

.floating-box2 {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 400;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}

.backgroundbox2 {
	display: block;
	width: 1200px;
	height: 600px;
	margin: 0 auto;
	border: 0px;
	text-align: center;
}

.backgroundbox3 {
	display: inline-block;
	width: 275px;
	height: 570px;
	margin: 10px auto;
	border: 0px;
	text-align: center;

}
.picturebox {
	width: 250px;
}

.Titleh3 {
	line-height: .5;
}

.boxtext {
	text-align: justify;
	padding: 0px 20px 0px 20px;
}

.floating-box3 {
	display: block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 400;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}