@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600|Roboto+Slab:100,300,400,500');
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: #E3E3E3;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 17px;
    font-weight:400;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

h1 {
    margin: 1% auto 1%;
    text-align: center;
}

h2 {
    margin: .5em 0 0 0;
    font-weight: 500;
    text-align: center;
}

h2.biotitle {
    margin: 0;
    text-align: left;
    color: #FFF;
    font-size: 1.25em;
}

h2.biotitle2 {
    margin: 0;
    text-align: left;
    color: #FFF;
    font-size: 1.5em;
}
h3 {
    margin: 1% 0 0% 0;
    font-weight: 400;
}

nav {
    background-color: #327B82;
    width: 100%;
    text-align: left;
    padding: 1em .5em
}

nav a {
    display: inline-block;
    padding: .5em .75em;
    font-size: 1.025em;
}

.menu a {
    color: #FFF;
}


li a:hover {
    background-color: #111;
}

li {
    list-style-position: inside;
    padding: 0 0 0 1%;
    font-size: 1em;
}

.textlist {
    list-style-type: none;
    line-height: 1.4em;
}

.textlist a {
    color: #000;
}

.textlist a:hover {
    color: aquamarine;
}
.wrapper4 p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.05em;
    font-weight: 300;
}

.wrapper4 h1 {
    clear:both;
    margin: 1em auto 1em;
    font-weight: 400;
}

.wrapper5 p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.05em;
    color: white;
}

.wrapper4 li {
    font-family: 'Roboto Slab', serif;
    font-size: 1.05em;
    font-weight: 300;
}

.wrapper4 li a {
    color: #3FA19D;
}

header {
    margin: 2% 5% 0;
}

footer {
    text-align: center;
    margin: 1.5em auto;
}

iframe {
    border: 3px solid #BFB8B4;
}

.ital {
    font-style: italic;
}

#Splash {
    background: url("./../images/Mentor_picture_large.png");
    background-size: cover;
    margin: 1% 5% 2%;
    padding: 20% 0 0 0;
}

.carousel {
    display: block;
    margin: 0 auto 1em;
    align-content: center;
}

.missionh3 {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px #000;
}

.missionh1 {
    text-align: center;
    font-size: 1.5em;
    color: #195452;
    background: rgba(255, 255, 255, .8); 
    margin: 1% auto 2%;
    width: 80%;
    max-width: 50vw;
    padding: 1% 1% 1% 1%;
    font-weight: 400;
}

#missionh1b {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    color: #000;
    padding: 1% 1% 1% 1%;
}

.logo {
    margin: 0 auto .5em;
    width: 150px;
}

.highlight_text {
    font-weight: 500;
    color: #000;
}

.floating-box {
    display: inline-block;
    width: 10em;
    margin: 1em auto;
    padding: .75em 0;
    border: 3px solid #BFB8B4;
    text-align: center;
    vertical-align: center;
    font-size: 1.1em;
    font-weight: 400;
    background-color: #327B82;
    color: #FFF;
}

.background {
    display: block;
    width: 100%;
    height: 5%;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}

.wrapper3 {
    background: url("../../images/Mentor_picture_large.png");
}

.wrapper2 {
    margin: 0 auto;
    text-align: center;
}

.wrapper4 {
    margin: 1% 5% 0;
    padding: .5% 5% 3% 5%;
    background: #FFF;
}

.wrapper5 {
    margin: 0% 5% 0;
    padding: 2% 6% 3% 6%;
    background: #3FA19D;
    color: #EBEDEB;
    border-top: 3px solid #BFB8B4;
    font-size: 1.05em;
}
.wrapper5 h2 {
    margin: 0 0 .5em 0;
}
.floating-box2 {
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.floating-box3 {
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
}
.floating-box2_center {
    display: inline-block;
    margin: 0 12%;
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    text-align: center;
    vertical-align: center;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
}

#Our_Programs {
    display: block;
    border: none
    text-align: center;
    background: #FFF;
    margin: 0 auto;
    padding: .5%;
}

#Hope-Stories {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1%;
    text-align: center;
    background: #3FA19D;
    color: #EBEDEB;
}

.graytitle {
    clear: both;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    margin: .25em auto .75em;
    font-weight: 400
}


.backgroundbox {
    float: left;
    width: 33.33%;
    padding: 1.5em 2em;
    text-align: center;
    position: relative;
    height: 34em;
    margin: auto;
}

.backgroundbox2 {
    float: left;
    width: 33.33%;
    padding: 1.5em 2em;
    text-align: center;
    position: relative;
    height: 32em;
}

.container {
    width: 90%;
    margin: auto;
}

.backgroundbox_right {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 1% 14% 0 1.5%;
    padding: 0;
    text-align: center;
}

.biobox {
    float: left;
    width: 80%;
    margin: 0 0 2% 0;
}

.biobox2 {
    float: left;
    width: 70%;
    padding: 0 3% 0 0;
}

.biobox3 {
    float: left;
    width: 50%;
    font-size: 1em;
}

.biobox_container {
    padding: 0% 0 3% 0%;
    clear: both;
    width: 100%;
}

.backgroundbox4 {
    float: left;
    border: none;
    width: 33.3%;
    height: 80%;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
}

img.picturebox2 {
    border:3px solid #195452;
    width: 60%;
    display: block;
    margin: 0 auto;
}

img.picturebox3 {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 30%;
    margin: 1% 0% 1% 3%;
}

img.picturebox3b {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 25%;
    margin: 1% 0% 1% 3%;
}

img.picturebox4 {
    float: left;
    display: block;
    border:3px solid #195452;
    width: 13%;
    margin: 0 3% 0 0%;
}

img.picturebox5 {
    float: left;
    display: block;
    width: 15%;
    margin: 0 3% 0 0%;
}

img.picturebox6 {
    float: left;
    display: block;
    width: 23%;
    margin: 0 3% 0 0%;
}

img.picturebox7 {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 95%;
    margin: 1% 0% 2% 5%;
}

img.picturebox8 {
    display: block;
    border:3px solid #195452;
    width: 60%;
    margin: 1% auto 2%;
}

.footer_left {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 1.5% 0 14%;
    padding: 0px;
    list-style-type: none;
    color: #000;
    text-align: center;
}

.footer_center {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 1.5% 0 1.5%;
    padding: 0px;
    list-style-type: none;
    color: #000;
}

.footer_right {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 14% 0 1.5%;
    padding: 0;
    list-style-type: none;
    color: #000;
}

.footer p {
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 1em;
}

.titleh3 {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    margin: .5em 0 .25em;
}
.boxtext {
    text-align:left;
    line-height: 1.4;
    font-weight: 200;
    padding: 0 2em;
}

.ctrtxt {
    text-align: center;
    margin: 0 auto 2em;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.sectionbox {
    border: none;
    width: 80%;
    height: 100%;
    margin: .35% auto;
}

.sectionbox2 {
    border: none;
    width: 100%;
    height: 60%;
    margin: .25% auto;
    border: none;
}

.footer {
    background: #E3E3E3;
    margin: auto;
}

form {
    margin: 2% 0 0 0;
}

#contact_footer {
    padding: 2% 0 0 0;
    clear: both;
}

.gnp_badge {
    margin: 3% 0 0 0;
    display: flex;
}

.gnp_badge2 {
    margin: 0% 25% 0 10%;
}

.gnp_badge2 p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hopepic {
    width: 40%;
    border:3px solid #195452;
}

.hopetext {
    display: block;
    width: 70%;
    margin: .5em auto 2em;
    font-weight: 200;
}

.hopebox {
    margin: 0 0 3% 0;
}

.hopebox2 {
    clear:both;
    float: right;
    display: block;
    width: 35%;
    margin: 1% 0 0 3%;
}

.video {
    width: 30%;
    height: auto;
    border: 3px solid #BFB8B4;
}

p.quote_header {
    clear:both;
    font-style: italic;
    font-size: 1.1em;
    margin: -1% 0 2% 0;
    text-align: center;
    padding: 1% 2%;
}

iframe {
    float: left;
    margin: 0 3% 0 0;
}

.partnerbox {
    float:left;
    width: 50%;
}

.partnerbox2 {
    float:left;
    width: 40%;
    margin: 0 5%;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: aquamarine;
    background-color: black;
}

.hiddenbox {
    display: none;
}

.donate_button {
    width: 25em;
    margin: .5em 0 .5em 0;
}

.wrapper4 h3 {
    font-size: 1.1em;
    padding: .5em 0;
}

@media only screen and (max-width: 1420px) {
    .backgroundbox2 {
        height: 29em;
    }
@media only screen and (max-width: 1196px) {
    .boxtext {
        padding: 0 1.25em;
    }

@media only screen and (max-width: 1021px) {
    .boxtext {
        padding: 0em;
    }
    li.menu {
        font-size: 1em;
    }
    img.picturebox2 {
        width: 70%;
    }
    img.picturebox3 {
        width: 40%;
    }
    img.picturebox3b {
        width: 15em;
    }
    img.picturebox5 {
        width: 9em;
    }
    img.picturebox6 {
        width: 7em;
    }
    .hopebox2 {
        width: 20em;
    }
    .biobox {
        width: 75%;
        margin: 0 0 2.5em 0;
    }
    .biobox3 {
        width: 100%;
        margin: 1em 0;
    }
    .biobox2 {
        width: 80%;
    }
    .biobox_container {
        margin: 0;
        padding: 0;
    }
    h3.graytitle {
        margin: 2em 0 0 0;
    }
}
@media only screen and (max-width: 971px) {
    .missionh1 {
        font-size: 1.25em;
    }
    .missionh1b {
        font-size: 1.25em;
    }
    .missionh3 {
        font-size: 1.1em;
    }
    .floating-box2 {
        padding: .75em 1em;
    }
    .graytitle {
        font-size: 1.25em
    }
    .hopebox h3 {
        font-size: 1.1em;
    }
    .hopebox p {
        font-size: 1em;
    }
    .titleh3 p {
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
    }
    
    .wrapper h1 {
        font-size: 1.25em;
    }
    .wrapper4 h1 {
        font-size: 1.25em;
    }

    .wrapper4 p {
        font-size: .9em;
    }

    .wrapper4 li {
        font-size: .9em;
    }
    .wrapper5 p {
        font-size: 1em;
    }
    .wrapper5 h2 {
        font-size: 1.3em
    }
    img.picturebox2 {
        width: 80%;
    }
    img.picturebox3 {
        width: 35%;
    }
    .hopebox2 {
        width: 18em;
    }

    .boxtext {
        width: 100%;
        padding: 2% 2% 4% 1%;
    }
} 

@media only screen and (max-width: 956px) {
    .biobox2 {
        width: 61vw;
    }

@media only screen and (max-width: 928px) {
    .boxtext {
        padding: 0;
    }
    .backgroundbox {
        height: 34.5em;
    }
    .biobox2 {
        width: 60vw;
    }
    .biobox {
        width: 55vw;
    }
}

@media only screen and (max-width: 870px) {
    .biobox2 {
        width: 55vw;
    }
    iframe {
        display: block;
        float: none;
        margin: .5em auto 1em;
    }

@media only screen and (max-width: 886px) {
    .floating-box2 {
        padding: .75em .8em;
    }
}

@media only screen and (max-width: 861px) {
    .boxtext {
        padding: 0;
    }
    .backgroundbox {
        height: 36em;
    }
    img.picturebox2 {
        width: 90%;
    }
    img.picturebox3 {
        width: 45%;
    }
    img.picturebox5 {
        width: 22%;
    }
}

@media only screen and (max-width: 848px) {
    .backgroundbox2 {
        height: 31em;
    }
@media only screen and (max-width: 841px) {
    .floating-box2 {
        padding: .75em .5em;
    }
}

@media only screen and (max-width: 820px) {
    .boxtext {
        padding: 0;
    }
    .backgroundbox {
        height: 37.5em;
    }
    .hopepic {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .backgroundbox2 {
        padding: 1em 1em;
        height: 30.5em;
        }
    img.picturebox6 {
        width: 5.5em
    }
}

@media only screen and (max-width: 792px) {
    .backgroundbox {
        height: 38.5em;
    }
}

@media only screen and (max-width: 771px) {
    .backgroundbox {
        padding: .75em;
        height: 34.5em;
    }
}
@media only screen and (max-width: 768px) {
    .backgroundbox {
        height: 36em;
    }
    
    li.menu {
        padding: 2% 1.3%
    }

    .missionh1, .missionh1b {
        font-size: 1.2em;
    }
    .titleh3 {
        font-size: 1.1em;
    }
    img.picturebox3b {
        width: 13em;
    }
}

@media only screen and (max-width: 731px) {
    .backgroundbox {
        height: 37em;
    }
    .backgroundbox2 {
        height: 32em;
    }
    .gnp_badge {
        display: block;
    }
    .gnp_badge2 {
        margin: 0;
    }

@media only screen and (max-width: 728px) {
    .backgroundbox2 {
        padding: .75em;
        height: 31em;
    }
}
    
@media only screen and (max-width: 667px) {
    .backgroundbox {
        width: 100%;
        height: initial;
    }

    .floating-box2 {
        display: inline-block
    }
    .backgroundbox2 {
        width: 100%;
        height: none;
    }
    .titleh3 {
        display: block;
        width: 100%;
        text-align: left;
        margin:  0 1% 1% 0;
        clear: none;
        float: none;
    }
    .container {
        width: 95%;
    }
    .boxtext {
        display: block;
        width: 100%; 
        
    }
    .hopepic {
        width: 60%;
    } 
    img.picturebox2 {
        float: left;
        width: 7em;
        margin: 0 4% .3% 0;
    }
    img.picturebox3 {
        width: 16em;
    }
    img.picturebox3b {
        display: block;
        float: none;
        margin: 0 auto 2em;
    }
    img.picturebox5 {
        width: 24%;
    }
    .missionh1 {
        font-size: 1.3em;
        max-width: none;
    }
    .missionh3 {
        font-size: 1.1em;
    }
    .hopebox {
        margin: 0 0 2.5em 0;
    }
    .hopetext { 
        width: 90%;
    }
    .hopebox2 {
        float: none;
        margin: 0 auto;
    }
    .floating-box2 {

    }
}

@media only screen and (max-width: 612px) {
    .backgroundbox2 {
        height: 15em;
    }
    .footer {
        width: 100%;
    }
    .footer_left {
        display: block;
        width: 100%;
        margin: 0 auto 1em;
    }
    .footer_center {
        width: 50%;
        margin: 0 0 0 0;
    }
    .footer_right {
        width: 50%;
        margin: 0 0 0 0;
    }
    .missionh3 {
        font-size: 1.05em
    }

@media only screen and (max-width: 602px) {
    .logo {
        display: block;
    }
    nav {
        text-align: center;
    }
    nav a {
        padding: .5em .7em
    }
    .menu {
        padding: .25em
    }
    img.picturebox5 {
        float: none;
        width: 12em;
        margin: 0 auto 
    }
    h2.biotitle2 {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .wrapper5 h3 {
        text-align: center;
        margin: 0 0 .5em 0;
    }
    .biobox {
        width: 100%;
        padding: 1em;
        margin: 0;
    }
    img.picturebox6 {
        float: none;
        width: 10em;
        margin: auto
    }
    .biobox2 {
        width: 100%;
        padding: 1em;
    }
    .biobox3 {
        margin: .5em;
    }
    h2.biotitle {
        width: 100%;
        text-align: center;
        margin: auto;
    }
    img.picturebox3 {
        float: none;
        width: 18em;
        margin: 1em auto 1em
    }
}
@media only screen and (max-width: 552px) {
    .missionh3 {
        font-size: 1em;
    }
    .missionh1 {
        font-size: 1.2em;
    }
    .floating-box {
        font-size: 1em;
    }
    img.picturebox8 {
        width: 20em;
    }

@media only screen and (max-width: 538px) {
    #resources {
        display: none;
    }

@media only screen and (max-width: 526px) {
    iframe {
        width: 21em;
    }

@media only screen and (max-width: 480px) {
    .backgroundbox {
        height: 17.5em;
    }
    .backgroundbox2 {
        height: 16em;
    }
    img.picturebox3 {
        float: none;
        margin: 3% auto 4%;
        width: 18em;
    }
    img.picturebox8 {
        width: 17em;
    }
    iframe {
        width: 20em;
    }
    .logo {
        float: l
        margin: 5% 1em;
    }
    .menu {
        width: 100%;
    }
    nav {
        display: block;
    }
    nav a {
        padding: .25em;
        font-size: 1em;
    }
    #mission {
        display: none;
    } 
}

@media only screen and (max-width: 458px) {
    iframe {
        width: 19em;
    }

@media only screen and (max-width: 442px) { 
    img.picturebox2 {
        margin: 0 4% 0 0;
    }
    .backgroundbox {
        height: 19em;
    }
    iframe {
        width: 18em;
    }
    #mission, #resources, {
        display: none;
    }

  }
@media only screen and (max-width: 397px) {
    .floating-box {
        font-size: 1em;
        margin: .1em 0 .05em 
    }
    #Splash {
        padding: 2em 0 2em 0;
    }
    .missionh3 {
        padding: 0 .5em;
    }

    img.picturebox2 {
        float: none;
        width: 10em;
        margin: 0 auto .5em;
    }
    h3.titleh3 {
        text-align: center;
    }
    .backgroundbox {
        margin: 0;
        padding: 1.25em 1em;
        height: 28.5em;
    }
    .backgroundbox2 {
        margin: 0;
        padding: 1.25em 1em;
        height: 25.5em;
    }
    h1.graytitle {
        margin: .5em 0 1em;
    }
    .hopepic {
        width: 18em
    }
    iframe {
        width: 16em;
    }

@media only screen and (max-width: 375px) {
    .logo {
        width: 45%;
        margin: 10% 1em;
        float: left;
    }
    #programs {
        display: none;
    }
    nav {
        text-align: left;
    }
    nav a {
        padding: .2em;
    }
    .missionh1 {
        font-size: 1.05em;
        width: 90%;
    }
    .missionh3 {
        font-size: 1em;
        margin: 0 0.5em .75em;
    }
    
    .wrapper5 p {
        text-align: center;
    }
    .wrapper5 h2 {
        margin: .2em;
    }
    img.picturebox3 {
        width: 15em;
    }
    .boxtext {
        margin: 0 0 2em 0;
    }
    img.picturebox5 {
        width: 10em;
    }
    img.picturebox8 {
        width: 15em;
    }
    iframe {
        width: 14em;
    }
}