@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400,500,600|Roboto+Slab:100,300,400,500');

*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    background-color: #E3E3E3;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 17px;
    font-weight:400;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
}

h1 {
    margin: 1% auto 1%;
    text-align: center;
}

h2 {
    margin: 1% 0 0 0;
    font-weight: 500;
    text-align: center;
}

h2.biotitle {
    margin: 0;
    text-align: left;
    color: #FFF;
    font-size: 1.25em;
}

h2.biotitle2 {
    margin: 0;
    text-align: left;
    color: #FFF;
    font-size: 1.5em;
}
h3 {
    margin: 1% 0 0% 0;
    font-weight: 400;
}

ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #327B82;
}

li.menu {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.05em;
}

.menu a {
    color: #FFF;
}


li a:hover {
    background-color: #111;
}

li {
    list-style-position: inside;
    padding: 0 0 0 1%;
    font-size: 1em;
}

.textlist {
    list-style-type: none;
    line-height: 1.4em;
}

.textlist a {
    color: #000;
}

.textlist a:hover {
    color: aquamarine;
}
.wrapper4 p {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 300;
}

.wrapper4 h1 {
    clear:both;
    margin: 1% auto 2%;
    font-weight: 400;
}

.wrapper5 p {
    font-family: 'Roboto Slab', serif;
}

.wrapper4 li {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    font-weight: 300;
}

.wrapper4 li a {
    color: #3FA19D;
}

header {
    margin: 2% 5% 0;
}

footer {
    text-align: center;
    margin: 1.5em auto;
}

iframe {
    border: 3px solid #BFB8B4;
}

.ital {
    font-style: italic;
}

#Splash {
    background: url("./../images/Mentor_picture_large.png");
    background-size: cover;
    margin: 1% 5% 2%;
    padding: 20% 0 0 0;
}

.carousel {
    display: block;
    margin: 0 auto 1em;
    align-content: center;
}

.missionh3 {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px #000;
}

.missionh1 {
    text-align: center;
    font-size: 1.5em;
    color: #195452;
    background: rgba(255, 255, 255, .8); 
    margin: 1% auto 2%;
    width: 80%;
    max-width: 50vw;
    padding: 1% 1% 1% 1%;
    font-weight: 400;
}

#missionh1b {
    text-align: center;
    font-style: italic;
    font-size: 1em;
    color: #000;
    padding: 1% 1% 1% 1%;
}

.logo {
    margin: 0px 0px 10px 0px;
    width: 150px;
}

.highlight_text {
    font-weight: 600;
    color: #000;
}

.floating-box {
    display: inline-block;
    width: 10em;
    margin: 1em auto;
    padding: .75em 0;
    border: 3px solid #BFB8B4;
    text-align: center;
    vertical-align: center;
    font-size: 1.1em;
    font-weight: 400;
    background-color: #327B82;
    color: #FFF;
}

.background {
    display: block;
    width: 100%;
    height: 5%;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
}

.wrapper3 {
    background: url("../../images/Mentor_picture_large.png");
}

.wrapper2 {
    margin: 0 auto;
    text-align: center;
}

.wrapper4 {
    margin: 1% 5% 0;
    padding: .5% 5% 3% 5%;
    background: #FFF;
}

.wrapper5 {
    margin: 0% 5% 0;
    padding: 2% 6% 3% 6%;
    background: #3FA19D;
    color: #EBEDEB;
    border-top: 3px solid #BFB8B4;
}

.floating-box2 {
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.floating-box3 {
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
}
.floating-box2_center {
    display: inline-block;
    margin: 0 12%;
    padding: .75em 1.25em;
    border: 3px solid #BFB8B4;
    text-align: center;
    vertical-align: center;
    font-weight: 400;
    background-color: #195452;
    color: #FFF;
}

#Our_Programs {
    display: block;
    border: none
    text-align: center;
    background: #FFF;
    margin: 0 auto;
    padding: .5%;
}

#Hope-Stories {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 0px;
    padding: 1%;
    text-align: center;
    background: #3FA19D;
    color: #EBEDEB;
}

.graytitle {
    clear: both;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    margin: .25em auto .75em;
    font-weight: 400
}


.backgroundbox {
    float: left;
    width: 33.33%;
    padding: 1.5em 2em;
    text-align: center;
    position: relative;
    height: 34em;
    margin: auto;
}

.backgroundbox2 {
    float: left;
    width: 33.33%;
    padding: 1.5em 2em;
    text-align: center;
    position: relative;
    height: 30em;
}

.container {
    width: 90%;
    margin: auto;
}

.backgroundbox_right {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 1% 14% 0 1.5%;
    padding: 0;
    text-align: center;
}

.biobox {
    float: left;
    width: 80%;
    margin: 0 0 2% 0;
}

.biobox2 {
    float: left;
    width: 70%;
    padding: 0 3% 0 0;
}

.biobox3 {
    float: left;
    width: 50%;
    font-size: 1em;
}

.biobox_container {
    padding: 0% 0 3% 0%;
    clear: both;
    width: 100%;
}

.backgroundbox4 {
    float: left;
    border: none;
    width: 33.3%;
    height: 80%;
    margin: 0 auto;
    padding: 1%;
    text-align: center;
}

img.picturebox2 {
    border:3px solid #195452;
    width: 60%;
    display: block;
    margin: 0 auto;
}

img.picturebox3 {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 30%;
    margin: 1% 0% 1% 3%;
}

img.picturebox3b {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 25%;
    margin: 1% 0% 1% 3%;
}

img.picturebox4 {
    float: left;
    display: block;
    border:3px solid #195452;
    width: 13%;
    margin: 0 3% 0 0%;
}

img.picturebox5 {
    float: left;
    display: block;
    width: 15%;
    margin: 0 3% 0 0%;
}

img.picturebox6 {
    float: left;
    display: block;
    width: 23%;
    margin: 0 3% 0 0%;
}

img.picturebox7 {
    float: right;
    display: block;
    border:3px solid #195452;
    width: 95%;
    margin: 1% 0% 2% 5%;
}

img.picturebox8 {
    display: block;
    border:3px solid #195452;
    width: 60%;
    margin: 1% auto 2%;
}

.footer_left {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 1.5% 0 14%;
    padding: 0px;
    list-style-type: none;
    color: #000;
    text-align: center;
}

.footer_center {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 1.5% 0 1.5%;
    padding: 0px;
    list-style-type: none;
    color: #000;
}

.footer_right {
    float: left;
    border: none;
    width: 22%;
    height: 100%;
    margin: 0 14% 0 1.5%;
    padding: 0;
    list-style-type: none;
    color: #000;
}

.footer p {
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 1em;
}

.titleh3 {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    margin: .5em 0 .25em;
}
.boxtext {
    text-align:left;
    line-height: 1.4;
    font-weight: 200;
    padding: 0 2em;
}

.ctrtxt {
    text-align: center;
    margin: 0 auto 2em;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.sectionbox {
    border: none;
    width: 80%;
    height: 100%;
    margin: .35% auto;
}

.sectionbox2 {
    border: none;
    width: 100%;
    height: 60%;
    margin: .25% auto;
    border: none;
}

.footer {
    background: #E3E3E3;
    margin: auto;
}

form {
    margin: 2% 0 0 0;
}

#contact_footer {
    padding: 2% 0 0 0;
    clear: both;
}

.gnp_badge {
    margin: 3% 0 0 0;
    display: flex;
}

.gnp_badge2 {
    margin: 0% 25% 0 10%;
}

.gnp_badge2 p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.hopepic {
    width: 40%;
    border:3px solid #195452;
}

.hopetext {
    width: 70%;
    margin: .5% auto 3%;
    font-weight: 200;
}

.hopebox {
    margin: 0 0 3% 0;
}

.hopebox2 {
    clear:both;
    float: right;
    display: block;
    width: 35%;
    margin: 1% 0 0 3%;
}

.video {
    width: 30%;
    height: auto;
    border: 3px solid #BFB8B4;
}

p.quote_header {
    clear:both;
    font-style: italic;
    font-size: 1.1em;
    margin: -1% 0 2% 0;
    text-align: center;
    padding: 1% 2%;
}

iframe {
    float: left;
    margin: 0 3% 0 0;
}

.partnerbox {
    float:left;
    width: 50%;
}

.partnerbox2 {
    float:left;
    width: 40%;
    margin: 0 5%;
}

.wrapper5 h2 {
    margin: .5%;
}

.footer a {
    color: #000;
}

.footer a:hover {
    color: aquamarine;
    background-color: black;
}

#hiddenbox1 {
    /* display: none; */
}

@media only screen and (max-width: 1196px) {
    .boxtext {
        padding: 0 1.25em;
    }

@media only screen and (max-width: 1021px) {
    .boxtext {
        padding: 0em;
    }
    li.menu {
        font-size: 1em;
    }
    img.picturebox2 {
        width: 70%;
    }

@media only screen and (max-width: 971px) {
    .missionh1, .missionh1b {
        font-size: 1.25em;
    }
    .missionh3 {
        font-size: 1em;
    }
    .floating-box2 {
        padding: .75em 1em;
    }
    .graytitle {
        font-size: 1.25em
    }
    .hopebox h3 {
        font-size: 1.1em;
    }
    .hopebox p {
        font-size: .9em
    }
    .titleh3 p {
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
    }
    
    .wrapper h1 {
        font-size: 1.25em;
    }
    .wrapper4 h1 {
        font-size: 1.25em;
    }

    .wrapper4 p {
        font-size: .9em;
    }

    .wrapper4 li {
        font-size: .9em;
    }

    .wrapper5 p {
        font-size: 1em;
    }

    .wrapper5 h2 {
        font-size: 1.3em
    }

    img.picturebox3 {
        width: 35%;
    }
    
    .hopebox2 {
        width: 40%;
    }

    .boxtext {
        width: 100%;
        padding: 2% 2% 4% 1%;
    }
} 

@media only screen and (max-width: 886px) {
    .floating-box2 {
        padding: .75em .8em;
    }

@media only screen and (max-width: 861px) {
    .boxtext {
        padding: 0;
    }
    .backgroundbox {
        height: 34em;
    }

@media only screen and (max-width: 841px) {
    .floating-box2 {
        padding: .75em .5em;
    }

@media only screen and (max-width: 820px) {
    .boxtext {
        padding: 0;
    }
    .backgroundbox {
        height: 36em;
    }
}

@media only screen and (max-width: 792px) {
    .backgroundbox {
        height: 37em;
    }
}

@media only screen and (max-width: 771px) {
    .backgroundbox {
        padding: .75em;
        height: 34.5em;
    }
}

@media only screen and (max-width: 768px) {
    li.menu {
        padding: 2% 1.3%
    }

    .missionh1, .missionh1b {
        font-size: 1.2em;
    }
    .titleh3 {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 728px) {
    .backgroundbox2 {
        padding: .75em;
        height: 29.5em;
    }
}
    
@media only screen and (max-width: 667px) {
    
    @media only screen and (max-width: 667px) {
    
    .missionh1, .missionh1b {
        font-size: 1em;
    }
    .missionh3 {
        font-size: .8em;
    }

    .backgroundbox_left {
        display: block;
        float: none;
        width: 100%;
        clear: both;
        margin: 1% 1% 2% 1%;
    }

    .backgroundbox_right {
        display: block;
        float: none;
        width: 100%;
        margin: 1% 1% 2% 1%;
        clear: both;
    }
    .backgroundbox_center {
        display: block;
        float: none;
        width: 100%;
        margin: 1% 1% 2% 1%;
        clear: both;
    }
    
    .titleh3 {
        /* width: 45%; */
        margin: 0 0 0 1%;
        text-align: left;
    }
    img.picturebox2 {
        float: left;
        width: 25%;
        margin-right: 2em;
    }
    .boxtext {
        /* float: left; */
        /* width: 73%; */
        margin: 0 0 3% 2%;
    }
    #hiddenbox1 {
        clear:both;
        display: block;
    }

    #hiddenbox2 {
        display: none;
 