@import url('https://fonts.googleapis.com/css?family=Raleway|Antic+Slab');

body {
	background-color: #E3E3E3;
	font-family: Raleway;
	padding: 25px 50px;
	color: #000;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #195452;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

footer {
	text-align: center;
}


.carousel {
	display: block;
	margin: 0 auto;
	align-content: center;
}

.missionh3 {
	text-align: center;
}

.missionh1 {
	text-align: center;
	font-size: 26px;
	color: #195452;
}

#missionh1b {
	text-align: center;
	font-style: italic;
	font-size: 26px;
	color: #000;
}

.logo {
	margin: 0px 0px 10px 0px;
}

.floating-box {
	display: inline-block;
	width: 150px;
	height: 35px;
	margin: 0 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 600;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}

.background {
	display: block;
	width: 500px;
	height: 85px;
	margin: 0 auto;
	border: none;
	text-align: center;
	vertical-align: center;
}

.floating-box2 {
	display: inline-block;
	width: 75px;
	height: 75px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 400;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}

#Our_Programs {
	display: block;
	height: 600px;
	margin: 0 auto;
	border: 0px;
	padding: 20px 0 0 0;
	text-align: center;
}

#Hope-Stories {
	display: block;
	height: 950px;
	margin: 0 auto;
	border: 0px;
	padding: 20px 0 0 0;
	text-align: center;
}

.backgroundbox3 {
	display: inline-block;
	width: 275px;
	height: 570px;
	margin: 10px auto;
	border: 0px;
	text-align: center;

}
.picturebox {
	width: 250px;
}

.picturebox2 {
	border:3px solid #195452
}

.Titleh3 {
	line-height: .5;
}

.boxtext {
	display: block;
	height: 150px;
	text-align:left;
	font-family: Antic Slab;
	font-size: 15px;
	padding: 0px 25px 0px 25px;
	line-height: 1.3
}

.floating-box3 {
	display: block;
	width: 150px;
	height: 35px;
	margin: 10 auto;
	padding: 13px 0px 0px 0px;
	border: 3px solid #BFB8B4;
	text-align: center;
	vertical-align: center;
	font-weight: 500;
	font-size: 18px;
	background-color: #195452;
	color: #FFF;
}
.ctrtxt {
	text-align: center;
}

a {
	color: #195452;
}

#Our_Programs {
	background: #FFF;
}